.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1600px;
    margin: 0 auto;
    background-color: $bgFooter;
}
.alignment {
    @include flex($align: start, $gap: 70px);
}
// настроить лого!!!
.address {
    font-style: normal;
}
.connection__item:nth-child(2) {
    margin-top: 9px;
    margin-bottom: 9px;
}
.connection__post {
    color: $fourthTextColor;
    font-weight: 400;
    line-height: 1.71;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.connection__email, 
.connection__phone {
    color: $fifthTextColor;
    font-weight: 400;
    line-height: 1.71;
}
.net__title {
    text-transform: uppercase;
    color: $fourthTextColor;
    margin-bottom: 20px;
}
.network {
    @include flex($align: center, $gap: 10px);
}
.network__link {
    background-color: $fifthIconsColor;
}
.network__svg {
    fill: $thirdIconsColor;
}
.mailing {
    margin-left: 23px;
    @include flex($align: end, $gap: 12px);
}
.mailing__label {
    text-transform: uppercase;
    color: $fourthTextColor;
}
.mailing__input {
    display: block;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid $borderInputEmail;
    color: white;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: $fifthTextColor;
    }
}
.mailing__button {
    @include flex($align: center, $gap: 10px);
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: $bgHoverButtons;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: $fourthTextColor;
}
.mailing__svg {
    fill: $thirdIconsColor;
}